@model GameBlog1488.Models.Post

@{
    ViewBag.Title = "Delete";
}

<br>
<br>

<h3>Вы УВЕРЕНЫ, что хотите удалить свой обзор?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Genre.NameGenre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genre.NameGenre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.Nick)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Nick)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TextComment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TextComment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrentDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentDate)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Вернуться назад", "Index")
        </div>
    }
</div>
