@model GameBlog1488.Models.Post

@{
    ViewBag.Title = "Details";
}

<br>
<br>

<div>
    <h4>Подробности обзора</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Genre.NameGenre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genre.NameGenre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.Nick)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Nick)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TextComment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TextComment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrentDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Редактировать обзор", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Вернуться назад", "Index")
</p>
