@model IEnumerable<GameBlog1488.Models.Genre>

@{
    ViewBag.Title = "Index";
}

<br>
<br>

<p>
    @Html.ActionLink("Добавить новый жанр", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NameGenre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NameGenre)
        </td>
        <td>
            @Html.ActionLink("Изменить название жанра", "Edit", new { id=item.IdGenre }) |
            @Html.ActionLink("Удалить жанр", "Delete", new { id=item.IdGenre })
        </td>
    </tr>
}

</table>
